<div class="social-links">
    <i class="fa-brands fa-github fa-2xl" style="color: #ffffff;"></i>
    <i class="fa-brands fa-instagram fa-2xl" style="color: #ffffff;"></i>
    <i class="fa-brands fa-linkedin fa-2xl" style="color: #ffffff;"></i>
    <i class="fa-brands fa-discord fa-2xl" style="color: #ffffff;"></i>
  </div>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;800&display=swap');
    body {
      background: black;
      color: white;
      
    }
 
    .navbar {
      background: black;
    }

    .navbar-toggler {
      display: none; /* Hide the toggle button on all screen sizes */
    }

    .navbar-nav {
      text-align: center;
    }

    .nav-link {
      color: #ff851b;
    }

    .nav-link:hover {
      color: white;
      border-bottom: 1px #ff851b solid;
    }

    .social-links i {
      margin: 4px;
    }

    /* Add this to your existing styles or in a separate CSS file */

.home-text {
  text-align: center;
  padding: 50px 0; /* Adjust the padding as needed */
}

.name-txt h1 {
  color: white;
  font-size: 2em; /* Adjust the font size as needed */
  /* Add any additional styling for the name text here */
}

  </style>