<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Portfolio website of Sahana Durgekar - Python Developer">
  <meta name="keywords" content="Python, Developer, Portfolio, Web Development, Projects">
  <meta name="author" content="Sahana Durgekar">
  <meta name="robots" content="index, follow">
  <meta name="og:title" content="Sahana Durgekar - Python Developer">
  <meta name="og:description" content="Portfolio website of Sahana Durgekar - Python Developer">
  <meta name="og:image" content="static\images\logo.png">
  <meta name="og:url" content="https://pranav-nalawade.onrender.com">
  <meta name="og:site_name" content="Sahana Durgekar Portfolio">
  <meta name="twitter:title" content="Sahana Durgekar - Python Developer">
  <meta name="twitter:description" content="Portfolio website of Sahana Durgekar - Python Developer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sahana Durgekar</title>
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <!-- Add these lines to include Bootstrap CSS and JavaScript -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rzELcP9G0zD+paS6eIItIH9Fp4JmOIYNxbyfFELaFXT4IBcDwkBZK88voEymI2Hk" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-EoCEJMaqTy6BX78mIEFMIoLJCYtRxygndq5uCRI5M1S0JQ2l9UEPcZJ4uoD3gmAA"
    crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="static\images\favicon.ico" type="image/x-icon">
    <link rel="icon" href="static\images\favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static\css\style.css">
  <style>

  </style>
</head>

<body onload="loding()">

  <div id="loading"></div>
  <header>
    <img src="static\images\logo.png" width="120" height="auto" alt="" style="width: 9rem;">
    <nav>
      <ul class="nav_links">
        <li><a href="\">Home</a></li>
        <li><a href="#PROJECTS">Project</a></li>
        <li><a href="#ABOUT">About</a></li>
        <li><a href="#CONTACT">Contact</a></li>
      </ul>
    </nav>
    <div class="social-links">
      <a href="https://github.com/sahana-github"><i class="fa-brands fa-github fa-xl" style="color: #ffffff;"></i></a>
      <a href="https://www.instagram.com/sahana.r.d/"><i class="fa-brands fa-instagram fa-xl" style="color: #ffffff;"></i></a>
      <a href="https://www.linkedin.com/in/sahana-durgekar-a903a2186/"><i class="fa-brands fa-linkedin fa-xl" style="color: #ffffff;"></i></a>
      <a href="https://discordapp.com/users/853946197131264010"><i class="fa-brands fa-discord fa-xl" style="color: #ffffff;"></i></a>
      <a href="https://durgekar.blogspot.com/"><i class="fa-brands fab fa-blogger-b fa-xl" style="color: #ffffff;"></i></a>
    </div>
  </header>
  <!-- Rest of your HTML remains unchanged -->
  <!-- Bootstrap JS and Popper.js (required for Bootstrap components to work) -->

  <section>
    <div class="head-text">

      <head class="my-5">
        <h1 id="head-text">Sahana</h1>
      </head>

    </div>
  </section>
  <div class="head-text">
    <h3>Python Developer</h3>
  </div>
  <div class="bio-txt my-5">
    <p>Hey, I'm Sahana Durgekar, a Python developer on a mission to simplify complexities through code. With a knack for
      web development using Django and Flask, I enjoy creating solutions that make an impact. Let's code something
      amazing together!</p>
  </div>

  <div class="what-i-do my-5 justify-content-center">
    <div class="what-head">
      <h2 text-what><span>What I Do</span></h2>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4" style="padding: 50px;">
      <div class="col">
        <div class="card">
          <img src="static\images\machine.png" width="50" height="auto" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Machine Learning</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="static\images\website.png" width="50" height="auto" style="width: 50%; margin-left: 25%; "
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Website Development</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="static\images\spider.png" width="50" height="auto" style="width: 50%; margin-left: 25% ;"
            class="card-img-top my-2" alt="...">
          <div class="card-body">
            <h5 class="card-title my-2">Web Sc</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div id="PROJECTS">
    <h2 class="project-text">Projects</h2>
    <div class="project-list">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="what-i-do my-5 text-center" id="ABOUT">
    <div class="text-what" >
      <h2><span>About Me</span></h2>
    </div>
    <div class="my-5 about">
      <img src="static\images\logo.png" width="100" height="auto" alt="">
      <h2>Sahana Durgekar</h2>
      <div class="my-5">
        <a href="https://github.com/sahana-github"><i class="fa-brands fa-github fa-xl" style="color: #ffffff;"></i></a>
        <a href="https://www.instagram.com/sahana.r.d/"><i class="fa-brands fa-instagram fa-xl" style="color: #ffffff;"></i></a>
        <a href="https://www.linkedin.com/in/sahana-durgekar-a903a2186/"><i class="fa-brands fa-linkedin fa-xl" style="color: #ffffff;"></i></a>
        <a href="https://discordapp.com/users/971975081553178624"><i class="fa-brands fa-discord fa-xl" style="color: #ffffff;"></i></a>
        <a href="https://durgekar.blogspot.com/"><i class="fa-brands fab fa-blogger-b fa-xl" style="color: #ffffff;"></i></a>
      </div>

    </div>
    <div class="mx-auto"> <!-- mx-auto class for centering -->
      <p class=" about-txt">
        My expertise includes:
      <ul class="skills">
        <li>Python programming</li>
        <li>Web development using Flask/Django</li>
        <li>Data analysis and machine learning</li>
        <li>Database management with MongoDB</li>
        <li>Web scraping and automation</li>
      </ul>
      </p>
    </div>
  </div>


  <div class="contact justify-content-center text-center" id="CONTACT">
    <div class="what-head">
        <h2 class="text-center contact-txt"><span>Contact</span></h2>
    </div>
    <div class="icon justify-content-center my-5">
        <ul class="icons">
            <li><i class="fas fa-map-marker-alt fa-xl"></i>
                <p class="my-5">Bengaluru, India</p>
            </li>

            <li><i class="fas fa-phone mt-4 fa-xl"></i>
                <p class="my-5">+91 6361805045</p>
            </li>

            <li><i class="fas fa-envelope mt-4 fa-xl"></i>
                <p>sahanadurgekar18@gmail.com</p>
            </li>
        </ul>
    </div>

    <div class=""> <!-- Added 'text-center' class -->
      <form
      action="https://formspree.io/f/xzbllpzk"
      method="POST"
   style="width: 50%;" class="mx-auto"> <!-- Added 'mx-auto' class -->
            <div class="form-row my-3">
                <div class="form-group">
                   
                    <input type="text" class="form-control" name="name" placeholder="Name" class="my-2">
                </div>
            </div>
            <div class="form-group my-3">
                
                <input type="email" class="form-control" id="exampleInputEmail1" class="my-2" type="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group my-3">
                <textarea class="form-control" name="message" id="exampleFormControlTextarea1" class="my-2" rows="3"></textarea>
            </div>

            <button type="submit" style="background-color: rgb(218, 20, 53);" class="btn my-4">Submit</button>
        </form>
    </div>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start text-muted">
  <!-- Section: Social media -->

  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h3 class="txt">Sahana</h3>
          <h5 style="color: whitesmoke;">Python Developer</h5>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <p>
            <a href="\" class="footer-txt">Home</a>
          </p>
          <p>
            <a href="#PROJECTS" class="footer-txt">Projects</a>
          </p>
          <p>
            <a href="#ABOUT" class="footer-txt">About</a>
          </p>
          <p>
            <a href="#CONTACT" class="footer-txt">Contact</a>
          </p>
        </div>

      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color:#0e0b08; color: rgb(218, 20, 53); ">
    © 2021 Copyright
  </div>
  <!-- Copyright -->
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-9th9z93L28oflHeHJJxj8G9HnT/mJPzxo1TmsFz5Xf3ddA5v7tQULMZQXmaY5z00"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
  <script>
    window.addEventListener('load', function() {
        var preloader = document.getElementById('loading');
        preloader.style.opacity = 0; // Start fading out the loading element
        setTimeout(function() {
            preloader.style.display = 'none'; // Hide the loading element after the transition
        }, 500); // Adjust the duration to match the CSS transition duration
        document.body.classList.add('loaded'); // Add the 'loaded' class to the body
    });
</script>
</body>

</html>